/* This is a CSS file */
   body {
     background-image: url(https://media.istockphoto.com/videos/retro-8-bit-arcade-game-space-in-loop-video-id962000126?s=640x640);
     background-repeat:repeat;
     background-size: 600px;
     background-attachment:fixed;
       background-color: rgb(245, 245, 245);
       color: #0C0C0D;
     display: block;
     font-family: "HiraginoSans-W3"
   }
   .heading {
      border-top: solid 5px rgb(0, 0, 0);
     border-bottom: solid 5px rgb(0, 0, 0);
     margin-top: 35px;
     margin-bottom: 20px;
     text-align: center;
     background-color: rgb(245, 245, 245);
     font-size: 32px;
     font-weight:700; 
   }
   .nav-wrapper {
       margin: 0;
     padding: 0;
     border: solid 3px;
     box-sizing: border-box;
     margin-top: 40px;
     margin-left: 40px;
     margin-bottom: 23px;
     font-size: 22px;
     height: 30vh;
     width: 80%;
     background-color: #e5e5f7c4;
opacity: 1;
background-image:  
background-size: 50px 50px;
     color: blue;
   }

   .profile-english {
     width: 350px;
     font-family: 'arial black'
     margin-bottom: 5px;
     text-align: center;
     margin-left: 400px;
   }
