
   body {
     background-image: url(https://bodoge-bu.github.io/github.io/space.PNG);
     background-repeat:repeat;
     background-size: 600px;
     background-attachment:fixed;
       background-color: rgb(245, 245, 245);
       color: #0C0C0D;
     display: flex;
     font-family: "HiraginoSans-W3"

   }

 * {}

    mark {
    background-color: rgb(255, 255, 255)
    text-align: center;
    }


    p.sample1 {margin-left: 10%;}

   .nav-wrapper {
       margin: 0;
     padding: 0;
     border: solid 3px;
     box-sizing: border-box;
     height: 100vh;
     width: 20%;
     background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  linear-gradient(#444cf7 1px, transparent 1px), linear-gradient(to right, #444cf7 1px, #e5e5f7 1px);
    background-size: 50px 50px;
     color: blue;
   }

   .nav {
     margin-top: 43px;
     margin-left: 18px;
     color: blue;
   }
   .nav-content {
     display: flex;
     margin-bottom: 31px;
     align-items: center;
     color: blue;
   }
   .nav-icon {
     height: 8px;
     width: 8px;
     align-items: center;
     margin-right: 9px;
     border-radius: 50%;
     color: white;
   }


   .contents-wrapper {
     height: 100%;
     width: 82%;
     
   }
   .heading {
      border-top: solid 5px rgb(0, 0, 0);
  border-bottom: solid 5px rgb(0, 0, 0);
     margin-top: 35px;
     margin-bottom: 20px;
     text-align: center;
     background-color: rgb(245, 245, 245);
     font-size: 32px;
     font-weight:700; 
   }
   .contents-wrapper-inner {
     display: flex;
     width: 880px;
     margin: 0 auto;
   }

   .content-left {
     width: 50%;
     height: 750px;
     border: solid 2px;
     margin-left: 30px;
     background-color: rgb(245, 245, 245);
   }

   .face-photo {
     width: 100%;
     height: 300px;
     align-items: center;
     margin-top: 23px;
     margin-left: 40px;
     margin-bottom: 23px;
   }
   .profile {
     margin-bottom: 40px;
     margin-left: 20px;
     padding: 0px 20px;              /* [上下]、[左右]の順に余白を指定 */
     align-items: center;
   }
   .profile-english {
     width: 350px;
     font-family: 'arial black'
     margin-bottom: 5px;
     margin-left: 30px;
   }

   .mail {
     margin-bottom: 20px;
   }


   .content-right {
     margin-left: 50px;
     width: 50%;
   }

   td {
   white-space: nowrap;
}

   .news-heading {
       border: solid 1px;
       box-sizing: border-box;
     margin-top: 20px;
     margin-bottom: 10px;
     text-align: center;
     font-size: 16px;
     font-weight: bold;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(rgb(235, 51, 97), rgb(255, 142, 67));
   }
   .news-list {
     margin-right: 10px;
     margin-left: 10px;
     background-color: rgb(255, 255, 255);
     border-bottom: 2px solid rgb(0, 0, 0);
     height: 480px;
   }
   .news-list-title {
     margin-top: 5px;
     margin-bottom: 4px;
     font-weight: bold;
     
   }
   .news-list-description {
     margin-bottom: 30px;
     margin-left: 40px;
     
     
   }

a{color: blue;}



.tooltip2{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.tooltip2 p{
    margin:0;
    padding:0;
}
.description2 {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 300px;
}
.description2:before {
    content: "";
    position: absolute;
    top: 0%;
    right: 95%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
    transform: rotateZ(90deg);
}
.tooltip2:hover .description2{
    display: inline-block;
    top: 0px;
    left: 80px;
}

