   body {
       background-color: rgb(255, 254, 226);
       color: #0C0C0D;
     display: flex;
     font-family: '游ゴシック体'
   }

    mark {
    background-color: rgb(255, 255, 255)
    }

   .nav-wrapper {
       margin: 0;
     padding: 0;
     border: solid 3px;
     box-sizing: border-box;
     height: 100vh;
     width: 18%;
   }

   .nav {
     margin-top: 43px;
     margin-left: 18px;
   }
   .nav-content {
     display: flex;
     margin-bottom: 31px;
     align-items: center;
   }
   .nav-icon {
     height: 8px;
     width: 8px;
     margin-right: 9px;
     border-radius: 50%;
   }


   .contents-wrapper {
     height: 100%;
     width: 82%;
   }
   .heading {
      border-top: solid 5px rgb(0, 0, 0);
  border-bottom: solid 5px rgb(0, 0, 0);
     margin-top: 35px;
     margin-bottom: 20px;
     text-align: center;
     font-size: 32px;
     font-weight:700; 
   }
   .contents-wrapper-inner {
     display: flex;
     width: 880px;
     margin: 0 auto;
   }

   .content-left {
     width: 350px;
     border: solid 2px;
   }
   .face-photo {
     width: 100%;
     height: 300px;
     margin-bottom: 23px;
   }
   .profile {
     margin-bottom: 40px;
     margin-left: 20px;
   }
   .profile-english {
     font-family: 'arial black'
     width: 300px;
     margin-bottom: 40px;
   }

   .mail {
     margin-bottom: 20px;
   }


   .content-right {
     width: 530px;
   }
   .news-heading {
       border: solid 1px;
       box-sizing: border-box;
     margin-bottom: 30px;
     text-align: center;
     font-size: 16px;
     font-weight: bold;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(rgb(255, 0, 0),rgb(255, 174, 0), blue);
   }
   .news-list {
     margin-right: 10px;
     margin-left: 10px;
     border-bottom: 1px solid rgb(0, 0, 0);
   }
   .news-list-title {
     margin-top: 5px;
     margin-bottom: 4px;
     font-weight: bold;
     
   }
   .news-list-description {
     margin-bottom: 30px;
     margin-left: 80px;
     
   }

